@import "reset";

* {
	outline: none;
}

body {
	font: 20px/100% "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #f8f8f8;
}

fieldset {
	width: 400px;
	margin: 20px auto;
}

input,
ul {
	position: relative;
	font: inherit;
	line-height: 24px;
	background: white;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
	box-shadow: 0 0 4px #999999;
}

input {
	width: 100%;
	padding: 4px;
	z-index: 1;
}

ul {
	max-height: calc(32px * 5);
	margin-top: -2px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	overflow: hidden;
	z-index: 0;
}

li {
	padding: 4px;
	cursor: default;
}

li:focus {
	background: skyblue;
}
