@import "reset";

*{
	outline: none;
}

body,
html {
	font: 20px/100% "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #f8f8f8;
}

form {
	width: 400px;
	margin: 20px auto;
}

input[type=text],
ul {
	position: relative;
	display: block;
	font: inherit;
	line-height: 24px;
	padding: 4px;
	background: white;
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 0 0 4px #999999;
}

input[type=text] {
	width: 100%;
	z-index: 1;
}

ul{
    margin-top: -4px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
    z-index: 0;
}

li{
	padding: 2px;
}

li:focus{
	background: skyblue;
}
